<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileshop">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileShop"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".RatingSelfActivity" />
        <activity
            android:name=".BillStatus"
            android:exported="false" />
        <activity
            android:name=".RatingDetails"
            android:exported="false" />
        <activity
            android:name=".PayActivity"
            android:exported="true" />
        <activity
            android:name=".CheckOutActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Item.Item_Cart"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ProductActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CartActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".LoginActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUp2Activity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".IntroductoryActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AddressNewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RemovePasswordActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".fileActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddressActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RatingActivity"
            android:exported="true"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>